{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "indentation": 2,
    "max-line-length": 100,
    "max-nesting-depth": 2,
    "number-leading-zero": null,
    "selector-class-pattern": "[a-z]+",
    "selector-list-comma-newline-after": null,
    "selector-no-id": true,
    "selector-no-universal": true,
    "selector-pseudo-class-no-unknown": null,
    "selector-pseudo-element-colon-notation": "single",
    "string-quotes": "double"
  }
}
