html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #061B25;
  background-image: url(sky.svg);
  background-repeat: repeat;
  background-position: center center;
  background-size: auto;
}

.App:after {
  content: '';
  position: absolute;
  height: 5vh;
  with: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.christmas-trees {
  position: absolute;
  right: 5%;
  bottom: 5vh;
}
